.chatBox {
  display: flex;
  background: #eeeeee;
  cursor: pointer;
  padding: 3px;
  border-radius: lg;
  transition: background-color 0.3s ease;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.active {
    background-color: #36d7b7;
    color: #fff;
  }

  .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    font-size: xs;

    .latestMessage {
      font-size: xs;
    }

    b {
      font-weight: bold;
    }
  }
}
