.single-chat {
  display: flex;
  background: #eeeeee;
  height: 5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  transition: background-color 0.3s ease;

  &.active {
    background-color: #36d7b7;
    color: #fff;
  }

  .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    .chatName {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .additional-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.9rem;
      color: #888888;

      .unread-count {
        background-color: #36d7b7;
        color: #fff;
        padding: 0.2rem 0.4rem;
        border-radius: 0.3rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .single-chat {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem;

      .avatar {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
}
