.chatbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3px;
  background-color: white;
  width: 100%;
  min-width: 70%;
  border-radius: lg;
  border-width: 1px;

  @media (max-width: 768px) {
    &.visible {
      display: flex;
    }
    &.hidden {
      display: none;
    }
  }
}
