$base-font-size: 16px;

.single-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .text {
    font-size: 1.5rem;
    padding-bottom: 0.1875rem;
    padding-left: 0.125rem;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    background-color: #f0f0f0;
    border-bottom: 1px solid #cccccc;

    .backButton {
      display: none;
      cursor: pointer;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.625rem;
    background-color: #f7f7f7;
    width: 100%;
    height: 95%;
    border-radius: 0.5rem;
    overflow-y: hidden;

    .messages {
      height: 97%;
      overflow-y: auto;
    }

    .input-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0;

      .input {
        width: 100%;
        padding: 0.625rem;
        border-radius: 0.25rem;
        border: none;
        background-color: #ffffff;
        font-size: 0.875rem;
        outline: none;
        transition: background-color 0.3s ease;

        &:hover,
        &:focus {
          background-color: #f0f0f0;
          outline: none;
          box-shadow: 0 0 0 0.125rem #36d7b7;
        }
      }
    }
  }

  .empty-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .empty-chat-text {
      font-size: 1.25rem;
      color: #888888;
    }
  }

  @media (max-width: 768px) {
    .text {
      .backButton {
        display: block;
      }
    }
  }
}
