.single-chat-message {
  width: 70rem;
  height: 45rem;

  // Responsive styles
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }

  .selectedChat {
    padding: 1rem;

    .chat-header {
      display: flex;
      height: 3rem;
      justify-content: space-between;
      align-items: center;

      .view-icon {
        cursor: pointer;
      }
    }

    .messages-wrapper {
      position: relative;
      height: 37rem;
      background: #eeeeee;
      border-radius: 0.5rem;
      padding: 1rem;

      // Responsive styles
      @media (max-width: 768px) {
        height: 27rem;
      }

      .messages {
        height: 32rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        @media (max-width: 768px) {
          height: 22rem;
        }
      }

      .type {
        position: absolute;
        left: 2rem;
        bottom: 1.3rem;
        width: 94%;

        // Responsive styles
        @media (max-width: 768px) {
          position: absolute;
          left: 0;
          bottom: 1rem;
          width: 100%;
          margin-top: 1rem;
        }

        input {
          height: 2rem;
          width: 100%;
          border-radius: 0.5rem;
          border: 1px solid #ccc;
          padding: 0.5rem;
          font-size: 1rem;
          background-color: #ffffff;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px #36d7b7;
          }
        }
      }
    }
  }

  .notChatSelected {
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
